nav {
    background-color: blueviolet;
    border-top: 2px solid goldenrod;
    border-bottom: 2px solid goldenrod;
   
    background-size: cover;
   
}

body, html {
    height: 100%;
}
#underscores {
    text-align: center;
    font-size: 84px;
    margin: 0 auto;
}

.bg {
  
    background-image: url("https://i.pinimg.com/originals/62/c8/60/62c860c5d26e779b5c4beec4756cdf8b.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.MainContent {
    margin-top: 50px;
    
    
}

.img-container {
    width:900px;
    margin: 0 auto;
    text-align: center;
}

.Wrapper {
    width: 900px;
    margin: 0 auto;
    overflow: auto;
    border: 2px dotted gray;
    background-color: aliceblue;
    opacity: .6;
    padding: 20px;
}


#underscores {
    text-align: center;
    font-size: 72px;
    margin: 0 auto;
}

#TopRow, #MidRow, #LowRow {
    margin: 0 auto;
    text-align: center;
}
button {
    text-align: center;
    font-size: 72px;
    background-color: lightgreen;
    border: solid gray 2px;
    width: 80px;
    line-height: 80px;
    margin: 2px;
    
    
}

.letter-btn:hover {
    background-color: yellow;
}

.letter-btn:visited {
    background-color: crimson;
}