nav {
    background-image: url("../images/nightnav.jpg");
    border-bottom: 2px solid black;
}

body {
    background-image: url("../images/hd-disney-world-picture-hd-desktop-wallpapers-cool-background-photos-smart-phone-background-photos-desktop-backgrounds-artworks-dual-monitors-4k-1920x1200.jpeg");
}


.MainContent {
    margin-top: 50px;
    
    
}

.img-container {
    width:900px;
    margin: 0 auto;
    text-align: center;
}

.Wrapper {
    width: 900px;
    margin: 0 auto;
    overflow: auto;
    border: 2px dotted gray;
    background-color: aliceblue;
    opacity: .6;
    padding: 20px;
}


#underscores {
    text-align: center;
    font-size: 72px;
    margin: 0 auto;
}

#TopRow, #MidRow, #LowRow {
    margin: 0 auto;
    text-align: center;
}
button {
    text-align: center;
    font-size: 72px;
    background-color: lightblue;
    border: solid gray 1px;
    width: 80px;
    line-height: 80px;
    margin: 2px;
    
    
}